body {
  background-color: black;
  overflow: hidden;
  /* prevent scrolling */
}

/* standard tetris size is 10x20 */
.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  transform: translateX(-5%);
  overflow: hidden; /* Hide any overflow content */
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  width: 50vh;
  /* 50% of the viewport height */
  height: 100vh;
  /* 100% of the viewport height */
  border: 1px solid white;
}

.grid div {
  border: 1px solid white;
}

.grid div.tShape {
  background-color: blue;
  border: 2px solid grey
}

.grid div.zigzagShape {
  background-color: red;
  border: 2px solid grey
}

.grid div.lineShape {
  background-color: green;
  border: 2px solid grey
}

.grid div.squareShape {
  background-color: yellow;
  border: 2px solid grey
}

.grid div.lShape {
  background-color: purple;
  border: 2px solid grey
}

.grid div.mirroredZigzagShape {
  background-color: rgb(255, 196, 0);
  border: 2px solid grey
}

.grid div.mirroredLShape {
  background-color: rgb(0, 204, 255);
  border: 2px solid grey
}
.score {
  position: absolute;
  left: -55%;
  top: 20%; 
  font-size: 24px;
  color: white;
  text-align: center;
}
.pause-text {
  position: absolute;
  font-size: 2em;
  color: white;
  display: none; /* hidden */
  z-index: 1; /* bring infront of grid */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.speed-rank {
  position: absolute;
  left: 70%;
  top: 20%;
  border: 2px solid white;
  padding: 20px;
  background-color: black#333;
  color: white;
}
.next-shape {
  position: absolute;
  left: 70%;
  justify-content: center;
  border: 2px solid white;
  padding: 20px;
  background-color: black#333;
  color: white;
}
